@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz-bg {
  background-image: url("/public/quiz-bg.png");
  background-color: rgb(26,59,137);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}
