@tailwind base;
@tailwind components;
@tailwind utilities;

.result-bg {
  background: url("/public/result-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

#result-box-bg {
  background: url("/public/result-box-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}
